@model Author

@{
    ViewData["Title"] = "Add";
}
<h4>AddBookFormViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" class="needs-validation" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label mt-2"></label>
                <input asp-for="Name" class="form-control colorful-input" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bio" class="control-label mt-2"></label>
                <input asp-for="Bio" class="form-control colorful-input" />
                <span asp-validation-for="Bio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateOfBirth" class="control-label mt-2"></label>
                <input type="date" asp-for="dateOfBirth" class="form-control mt-0 colorful-input" />
                <span asp-validation-for="dateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary animated-button mt-3" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
